.root {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.packageName {
  font-size: 12px;
  color: #888;
  margin-top: 2px;
}

.deleteBtn {
  color: red;
}
